.comment {
  display: flex;
  gap: 10px;
  padding: 15px;
}

.comment-pfp {
  border-radius: 50%;
}

.comment-pfp img {
  border-radius: 50%;
  vertical-align: middle;
  object-fit: cover;
  height: 40px;
  width: 40px;
}

.comment-text {
  flex: 1;
  word-break: break-all;
  padding: 3px 10px 10px 10px;
  background-color: var(--background-color-primary);
  border-radius: 8px;
  position: relative;
}

.comment-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-dropdown-wrapper {
  position: relative;
}

.comment-top .meatball-btn {
  display: flex;
  padding: 5px;
  border-radius: 50%;
  color: var(--text-color-secondary);
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}

.comment-text .fullname {
  font-weight: bold;
  color: var(--text-color-primary);
}

.comment-text .comment-body {
  color: var(--text-color-primary);
}

.like-section {
  position: absolute;
  bottom: 0;
  height: fit-content;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  transform: translateY(100%);
  color: var(--text-color-secondary);
}

.like-section .dot {
  padding-right: 0.25rem;
}

.comment .like-btn {
  padding: .25rem;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border-radius: 8px !important;
  color: var(--text-color-primary);
}

.comment .liked {
  color: #1d9bf0;
}
