.settings-page {
  display: grid;
  gap: 25px;
}

.settings-top {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  border-radius: 8px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
}

.settings-container {
  display: grid;
  gap: 15px;
}

.settings-container hr {
  border-left: 0;
  border-right: 0;
  border-top: 1px solid var(--hr-color);
  border-bottom: none;
  margin: 15px 0;
}

.settings-container > div {
  padding: 15px;
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  border-radius: 8px;
}

/* Appearance */
.appearance-options {
  display: grid;
  gap: 1.5rem;
}

.appearance-options > div {
  display: grid;
  gap: 0.5rem;
}

.themes {
  background-color: var(--background-color-secondary);
  border-radius: 8px;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.themes > input[type="radio"] {
  display: none;
}

.themes > label {
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 1rem;
}

.themes > label::before {
  content: "";
  height: 1rem;
  width: 1rem;
  border: 2px solid black;
  border-radius: 50%;
}

.themes > label[for="light"] {
  background-color: white;
  color: black;
}

.themes > label[for="light"]::before {
  border-color: #B9B9B9;
}

.themes > label[for="dark"] {
  background-color: black;
  color: white;
}

.themes > label[for="dark"]::before {
  border-color: #757575;
}

.themes > input[type="radio"]:checked + label::before {
  width: 0.75em;
  height: 0.75em;
  background-color: var(--accent-color-primary);
  outline: 2px solid var(--accent-color-primary);
}

.themes > input[type="radio"]:checked + label[for="light"]::before {
  border: 0.25em solid white !important;
}

.themes > input[type="radio"]:checked + label[for="dark"]::before {
  border: 0.25em solid black !important;
}

/* Delete Account */

.settings-page .warning {
  color: rgb(244, 33, 46);
}

.delete-account button {
  margin-top: 1rem;
  padding: 0 1rem;
  font-weight: bold;
  color: rgb(244, 33, 46);
  background-color: rgba(244, 33, 46, 0.1);
  border: 1px solid rgb(253, 201, 206);
}

.logout button {
  align-self: flex-end;
  background-color: var(--btn-background-color-secondary);
  color: var(--text-color-primary);
  font-weight: bold;
  padding: 10px;
  display: flex;
  align-items: center;
}

.logout a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}