.auth-container {
  padding: 20px;
  background-color: var(--background-color-secondary);
  border-radius: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.auth-form {
  margin: 50vh auto 0 auto;
  transform: translateY(-50%);
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px;
  border-radius: 6px;
  background-color: var(--background-color-primary);
  /* box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5); */
}

.auth-heading {
  text-align: center;
  color: var(--text-color-primary);
}

.auth-container input {
  height: 50px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  padding: 15px;
  color: var(--text-color-primary);
  background-color: var(--background-color-secondary);
}

.auth-container input:focus {
  outline: 1px solid var(--text-color-secondary);
}

.form-link {
  text-align: center;
  color: var(--text-color-secondary);
}

.form-link a {
  text-decoration: none;
  color: var(--accent-color-primary);
}

.auth-container button {
  position: relative;
}
