.auth-container {
  padding: 1rem;
  background-color: var(--background-color-secondary);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.auth-form {
  margin: 50vh auto 0 auto;
  transform: translateY(-50%);
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--background-color-primary);
}

.auth-heading {
  text-align: center;
  color: var(--text-color-primary);
}

.auth-container input {
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  color: var(--text-color-primary);
  background-color: var(--background-color-secondary);
}

.auth-container input:focus {
  outline: 1px solid var(--text-color-secondary);
}

.form-link {
  text-align: center;
  color: var(--text-color-secondary);
}

.form-link a {
  text-decoration: none;
  color: var(--accent-color-primary);
}

.auth-container button {
  position: relative;
}
