.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  cursor: default;
}

.modal-container {
  padding: 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: fit-content;
  margin: auto;
  max-width: 600px;
  max-height: 90%;
  background-color: white;
  border-radius: 8px;
  overflow: auto;
}

.modal-container hr {
  margin: 15px 0;
  border-top: 1px solid #D8DADF;
  border-bottom: none;
}

.close-modal-btn {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 8px;
  background-color: #D8DADF;
  color: #757575;
  font-weight: bold;
  position: absolute;
  right: 8px;
  top: 8px;
}

.close-modal-btn:hover {
  filter: brightness(90%);
}

.material-symbols-outlined {
  vertical-align: middle;
}

.modal-container h1 {
  font-size: 1.5rem;
}

.modal-container h2 {
  text-align: left;
  font-size: 1.5rem;
}

.modal-container form {
  padding-inline: 15px;
  display: grid;
  gap: 15px;
}

.modal-centered {
  text-align: center;
}

.modal-btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.modal-btns button {
  width: 200px;
}

.cancel-btn {
  background-color: white;
  color: black;
  border: 1px solid #B9B9B9;
}

.delete-btn {
  background-color: #F4212E;
}

.edit-profile input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #B9B9B9;
  padding-left: 15px;
}

/* CommentModal */
.comment-modal-main {
  margin: 1rem 1rem 0 1rem;
}

.modal-post {
  display: flex;
  gap: 15px;
}

.modal-post-picture {
  margin-top: 5px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.modal-post-picture .modal-post-spacer {
  flex: 1;
}

.modal-post-picture .vertical-line {
  height: 100% !important;
}

.modal-post-picture img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.modal-post-header {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 11px 0;
}

.modal-post-text {
  word-break: break-all;
}

.modal-post-username, .modal-post-date {
  color: #757575;
}

.modal-post-dot {
  color: #757575;
  font-size: .5rem;
}

.modal-post-body {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.modal-post-spacer .vertical-line {
  width: 2px;
  border: none;
  height: 3rem;
  margin-left: 24px;
  background-color:#B9B9B9;
  /* background-color: #cfd9de; */
}

.modal-comment-form {
  margin-top: 10px;
  padding: 0 !important;
}

.modal-comment-form .input-area {
  display: flex;
  gap: 10px;
  align-items: center;
}

.modal-comment-form .input-area img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
  transition: 0.1s;
}

#post-body-input {
  height: 50px;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  resize: none;
  overflow: hidden;
  border: 1px solid #B9B9B9;
  border: none;
  background-color: #F0F2F5;
  border-radius: 5px;
}

#post-body-input::placeholder {
  white-space: nowrap;
  overflow: hidden;
}

#post-body-input:focus {
  outline: 1px solid #757575;
}

#post-btn:disabled {
  background-color: #E4E6EB;
  color: #B9B9B9;
  cursor: not-allowed;
}

.modal-comment-picture {
  align-self: flex-start;
}

.modal-comment-form img:hover {
  filter: none !important;
}