.header {
  padding: 15px 25px;
  background-color: white;
  margin: 25px;
  border-radius: 8px;
  display: grid;
  gap: 25px;
}

.header .top {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header .username {
  color: #757575;
}

.following-user-info {
  display: grid;
  gap: 0;
}

.back-btn {
  cursor: pointer;
  border-radius: 50%;
  padding: 8px;
  transition: .1s;
}

.back-btn:hover {
  color: #1d9bf0;
  background-color: #e1eef6;
}

.header h3 {
  text-align: center;
  padding-top: 25px;
}

.followed-users {
  margin: 25px;
  display: grid;
  gap: 5px;
}

.header .links {
  justify-self: center;
  display: flex;
  gap: 15px;
}

.followers-link, .following-link {
  cursor: pointer;
  border-radius: 8px;
  padding: 1rem;
  color: #757575;
  font-weight: bold;
}

.followers-link:hover, .following-link:hover {
  color: #1d9bf0;
  background-color: #e1eef6;
}

.active-link {
  color: black;
}

.active-link::after {
  content: '';
  background-color: #1d9bf0;
  height: 2px;
  display: block;
  position: relative;
  bottom: -1rem;
}