.followers-following-page {
  padding-bottom: 50%;
  display: grid;
  gap: 25px;
}

.header {
  padding: 15px 25px;
  background-color: var(--background-color-primary);
  border-radius: 8px;
  display: grid;
  gap: 25px;
}

.header .top {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header .username {
  color: var(--text-color-secondary);
}

.header .fullname {
  font-weight: bold;
}

.following-user-info {
  display: grid;
  gap: 0;
}

.following-user-info .fullname {
  color: var(--text-color-primary);
}

.back-btn {
  user-select: none;
  color: var(--text-color-primary);
  cursor: pointer;
  border-radius: 50%;
  padding: 8px;
  transition: 0.1s;
}

@media (hover: hover) and (pointer: fine) {
  .back-btn:hover {
    color: #1d9bf0;
    background-color: rgba(29, 155, 240, 0.1);
  }
}

.header h3 {
  text-align: center;
  padding-top: 25px;
}

.followed-users {
  display: grid;
  gap: 5px;
}

.header .links {
  justify-self: center;
  display: flex;
  gap: 15px;
}

.followers-link,
.following-link {
  cursor: pointer;
  border-radius: 8px;
  padding: 1rem;
  color: var(--text-color-secondary);
  font-weight: bold;
}

@media (hover: hover) and (pointer: fine) {
  .followers-link:hover,
  .following-link:hover {
    color: #1d9bf0;
    background-color: rgba(29, 155, 240, 0.1);
  }
}

.active-link {
  color: var(--text-color-primary);
}

.active-link::after {
  content: "";
  background-color: #1d9bf0;
  height: 2px;
  display: block;
  position: relative;
  bottom: -1rem;
}

.load-more {
  padding: 0.5rem 1rem;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  background-color: var(--background-color-primary);
  color: var(--text-color-secondary);
  border-radius: 9999px;
}
