.app-container {
  display: flex;
  gap: 25px;
  max-width: 1350px;
  margin: 0 auto;
  margin-top: 70px;
  padding-inline: 25px;
}

.nav-sidebar {
  flex-grow: 1;
}

.timeline-main {
  flex-basis: 600px;
}

.right-sidebar {
  flex-basis: 350px;
}