.app-container {
  display: flex;
  gap: 25px;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 1rem;
  padding-inline: 25px;
}

.nav-sidebar {
  flex-grow: 1;
  z-index: 100;
}

.main {
  padding: 25px 25px 0 25px;
  flex-shrink: 0;
  flex-basis: 600px;
  background-color: var(--background-color-secondary);
  border-radius: 8px;
  overflow: scroll;
  height: calc(100vh - 1rem);
  position: relative;
}

.main::-webkit-scrollbar {
  width: 0px;
}

.right-sidebar {
  flex-basis: 350px;
}

@media (max-width: 1230px) {
  .nav-sidebar .links {
    align-items: center;
  }

  .nav-sidebar nav li {
    justify-self: center;
  }

  .nav-sidebar nav li {
    width: fit-content;
  }

  .nav-sidebar .link-txt, .nav-sidebar .curr-user-info {
    display: none;
  }

  .curr-user {
    width: fit-content;
    border-radius: 50%;
  }
}

@media (width < 1100px) {
  .nav-sidebar {
    flex-grow: 0;
  }

  .main {
    flex-shrink: 1;
  }

  .right-sidebar {
    display: none;
  }
}

/* MOBILE STYLES */
@media (width < 590px) {
  :root {
    background-color: var(--background-color-secondary) !important;
  }

  .main {
    padding: 0;
  }

  .app-container {
    margin-top: 0;
    padding: 0;
  }

  .nav-sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
  }

  .nav-sidebar nav {
    border-radius: 0;
    padding: 0 !important;
  }

  .nav-sidebar .links {
    flex-direction: row !important;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .nav-sidebar .curr-user {
    display: none;
  }

  .new-post-form {
    border-radius: 0 !important;
  }

  .post-top {
    border-radius: 0;
  }

  .post-main {
    border-radius: 0;
  }

  .main {
    height: 100%;
    background-color: unset;
    overflow: unset;
  }

  .post {
    border-radius: 0;
  }

  .post-header {
    font-size: 0.9rem;
  }

  .post-body {
    font-size: 1.25rem !important;
  }
}