* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  color-scheme: only light;
  --accent-color-primary: #1877F2;
}

:root.light {
  --background-color-primary: white;
  --background-color-secondary: #F0F2F5;
  --background-color-warning: rgba(244, 33, 46, 0.1);
  
  --btn-color-primary: white;
  --btn-background-color-secondary: #E4E6EB;
  --btn-background-color-disabled: #E4E6EB;
  --btn-color-disabled: #B9B9B9;

  --text-color-primary: black;
  --text-color-secondary: #71767b;
  --text-color-warning: rgb(244, 33, 46);

  --border-color-warning: rgb(253, 201, 206);

  --hr-color: #D8DADF;
  --hover-color: #E4E6EB;

  --box-shadow-color-1: rgb(101 119 134 / 20%);
  --box-shadow-color-2: rgb(101 119 134 / 15%);
}

:root.dark {
  --background-color-primary: black;
  --background-color-secondary: #16181C;
  --background-color-warning: rgba(244, 33, 46, 0.1);
  
  --btn-color-primary: white;
  --btn-background-color-secondary: #21242A;
  --btn-background-color-disabled: #21242A;
  --btn-color-disabled: #B9B9B9;

  --text-color-primary: #e7e9ea;
  --text-color-secondary: #71767b;
  --text-color-warning: rgb(244, 33, 46);

  --border-color-warning: rgb(253, 201, 206);

  --hr-color: #242526;
  --hover-color: #21242A;

  --box-shadow-color-1: rgba(255, 255, 255, 0.2);
  --box-shadow-color-2: rgba(255, 255, 255, 0.15);
}

:root {
  background-color: var(--background-color-primary);
}

img {
  user-select: none;
}

button {
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: var(--btn-color-primary);
  background-color: var(--accent-color-primary);
  transition: 0.1s;
}

button:enabled:hover {
  filter: brightness(90%);
}

button:disabled {
  border: none;
  background-color: var(--btn-background-color-disabled);
  color: var(--btn-color-disabled);
  cursor: not-allowed;
}

a {
  text-decoration: none;
  color: var(--text-color-primary);
}

.error-message {
  color: var(--text-color-warning);
  background-color: var(--background-color-warning);
  border: 1px solid var(--border-color-warning);
  border-radius: 8px;
  width: fit-content;
  padding: 0.25rem .5rem;
  margin: 0 auto;
}

label {
  display: grid;
}