.nav-sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.nav-sidebar nav {
  background-color: var(--background-color-secondary);
  border-radius: 0.5rem;
  padding: 1rem;
}

.nav-sidebar .links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.nav-sidebar nav li {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}

@media (hover: hover) and (pointer: fine) {
  .nav-sidebar li:hover {
    background-color: var(--hover-color);
  }
}

.nav-sidebar nav a {
  text-decoration: none;
  color: var(--text-color-primary);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

.nav-sidebar .selected {
  color: var(--accent-color-primary) !important;
  font-weight: bold;
  font-variation-settings: "FILL" 1;
}

/* Account dropdown btn */

.curr-user-wrapper {
  position: relative;
  margin-top: auto;
}

.curr-user {
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 3.5rem;
  transition: 0.1s;
}

.curr-user:hover {
  background-color: var(--hover-color);
}

.curr-user .fullname {
  font-weight: bold;
  color: var(--text-color-primary);
  font-size: 0.9rem;
}

.curr-user .username {
  color: var(--text-color-secondary);
  font-size: 0.9rem;
}

.curr-user img {
  object-fit: cover;
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
  border-radius: 50%;
  transition: 0.1s;
}
