.nav-sidebar nav {
  background-color: var(--background-color-secondary);
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-sidebar .links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-inline: 15px;
  list-style: none;
}

.nav-sidebar li {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 1.25rem;
  border-radius: 8px;
}

.nav-sidebar li:hover {
  background-color: var(--hover-color);
}

.nav-sidebar a {
  text-decoration: none;
  color: var(--text-color-primary);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border-radius: 8px;
  width: 100%;
}

.nav-sidebar .material-symbols-rounded {
  font-size: 2rem; 
}

.selected {
  color: var(--accent-color-primary) !important;
  font-weight: bold;
  font-variation-settings:
  'FILL' 1
}