.nav-sidebar nav {
  background-color: #F0F2F5;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-sidebar .links {
  display: grid;
  gap: 1rem;
  margin-inline: 15px;
  list-style: none;
}

.nav-sidebar li {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 1.25rem;
  border-radius: 8px;
}

.nav-sidebar li:hover {
  background-color: #E4E6EB;
}

.nav-sidebar a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border-radius: 8px;
  width: 100%;
}

.nav-sidebar .material-symbols-rounded {
  font-size: 2rem; 
}

.selected {
  color: #1877F2 !important;
  font-weight: bold;
  font-variation-settings:
  'FILL' 1
}