.who-to-follow {
  background-color: var(--background-color-secondary);
  border-radius: 0.5rem;
  padding: 1rem 1rem 0.5rem 1rem;
  display: grid;
  overflow: auto;
  gap: 0.5rem;
  max-height: calc(100vh - 2rem - 1rem);
}

.who-to-follow h2 {
  margin-bottom: 0.5rem;
  color: var(--text-color-primary);
}

.who-to-follow .show-more {
  background-color: var(--background-color-secondary);
  color: var(--accent-color-primary);
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0 auto;
}