.connect-page {
  padding-bottom: 50%;
  display: grid;
  gap: 25px;
}

.connect-top {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  border-radius: 8px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
}

.connect-h1 {
  color: var(--text-color-primary);
  padding: 0 5px;
  font-size: 1.5rem;
}

.unfollowed-users {
  margin: 15px 0;
  display: grid;
  gap: 5px;
}