.post {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 3px 10px 3px 10px;
  background-color: var(--background-color-primary);
  border-radius: 6px;
}

.post-content {
  display: flex;
  gap: 15px;
}

.post-text {
  flex: 1;
  word-break: break-all;
}

.post-picture {
  padding-top: 5px;
}

.post-picture-btn {
  border-radius: 50%;
}

.post-picture img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
  transition: 0.1s;
}

.post-picture img:hover {
  filter: brightness(90%);
}

.post-fullname-link {
  color: inherit;
  text-decoration: none;
}

.post-fullname-link:hover {
  text-decoration: underline;
}

.post-fullname-link, .post-username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-fullname {
  color: var(--text-color-primary);
  overflow: hidden;
  text-overflow: ellipsis;
}

.post .post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-post-header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.right-post-header {
  position: relative;
}

.meatball-btn {
  padding: 8px;
  border-radius: 50%;
  color: var(--text-color-secondary);
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}

.meatball-btn:hover {
  color: #1d9bf0;
  background-color: rgba(29,155,240,0.1);
}

.post-username {
  color: var(--text-color-secondary);
}

.post-dot {
  color: var(--text-color-secondary);
  font-size: .5rem;
}

.post-date {
  color: var(--text-color-secondary);
  flex-shrink: 0;
}

.post-body {
  color: var(--text-color-primary);
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.like-comment-share-btns {
  display: flex;
  justify-content: space-around;
  color: var(--text-color-secondary)
}

.like-comment-share-btns .material-symbols-rounded {
  user-select: none;
  font-size: 20px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: 0.1s;
}

.like-comment-share-btns .material-symbols-rounded:hover {
  color: #1d9bf0;
  background-color: rgba(29,155,240,0.1);
}

.post hr {
  margin: 10px 0 3px 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid var(--hr-color);
  border-bottom: none;
}

.like-btn, .comment-btn, .share-btn {
  border-radius: 50%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.liked .material-symbols-rounded {
  color: #1d9bf0;
  font-variation-settings:
  'FILL' 1
}