.post {
  display: flex;
  flex-direction: column;
  padding: 3px 10px 3px 10px;
  background-color: white;
  border-radius: 6px;
  margin-inline: 25px;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.post-content {
  display: flex;
  gap: 15px;
}

.post-text {
  flex: 1;
}

.post-picture img {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-post-header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.right-post-header {
  position: relative;
}

.meatball-btn {
  padding: 8px;
  border-radius: 50%;
  color: #757575;
  cursor: pointer;
  user-select: none;
}

.meatball-btn:hover {
  color: #1d9bf0;
  background-color: #e1eef6;
}

.post-username {
  color: #757575;
}

.post-dot {
  color: #757575;
  font-size: .5rem;
}

.post-date {
  color: #757575;
}

.post-body {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.like-comment-share-btns {
  display: flex;
  justify-content: space-around;
  color: #757575
}

.like-comment-share-btns .material-symbols-rounded {
  user-select: none;
  font-size: 20px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.like-comment-share-btns .material-symbols-rounded:hover {
  color: #1d9bf0;
  background-color: #e1eef6;
}

.post hr {
  margin: 10px 0 3px 0;
  border-top: 1px solid #D8DADF;
  border-bottom: none;
}

.like-btn, .comment-btn, .share-btn {
  border-radius: 50%;
}

.liked .material-symbols-rounded {
  color: #1d9bf0;
  font-variation-settings:
  'FILL' 1
}