.post {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  background-color: var(--background-color-primary);
  border-radius: 0.5rem;
}

.post .post-img-container {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-right: 4rem;
}

.post-img {
  width: 100%;
  vertical-align: middle;
}

.post-content {
  display: flex;
  gap: 1rem;
}

.post-text {
  flex: 1;
  word-break: break-all;
}

.post-picture {
  padding-top: 0.25rem;
}

.post-picture-btn {
  border-radius: 50%;
}

.post-picture img {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  vertical-align: middle;
  transition: 0.1s;
}

@media (hover: hover) and (pointer: fine) {
  .post-picture img:hover {
    filter: brightness(90%);
  }
}

.post-fullname-link {
  color: inherit;
  text-decoration: none;
}

.post-fullname-link:hover {
  text-decoration: underline;
}

.post-fullname-link,
.post-username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-fullname {
  color: var(--text-color-primary);
  overflow: hidden;
  text-overflow: ellipsis;
}

.post .post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-post-header {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.right-post-header {
  position: relative;
}

.meatball-btn {
  display: flex;
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--text-color-secondary);
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}

@media (hover: hover) and (pointer: fine) {
  .meatball-btn:hover {
    color: var(--accent-color-primary);
    background-color: rgba(29, 155, 240, 0.1);
  }
}

.post-username {
  color: var(--text-color-secondary);
}

.post-dot {
  color: var(--text-color-secondary);
  font-size: 0.5rem;
}

.post-date {
  color: var(--text-color-secondary);
  flex-shrink: 0;
}

.post-body {
  color: var(--text-color-primary);
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.like-comment-share-btns {
  display: flex;
  justify-content: space-around;
  color: var(--text-color-secondary);
}

.like-comment-share-icons {
  font-size: 1.25rem;
}

@media (hover: hover) and (pointer: fine) {
  .post .btn-wrapper:hover {
    color: var(--accent-color-primary);
    background-color: rgba(29, 155, 240, 0.1);
  }
}

.post hr {
  margin: 0.5rem 0 0.25rem 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid var(--hr-color);
  border-bottom: none;
}

.post .like-btn,
.comment-btn,
.share-btn {
  border-radius: 50%;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.post .liked {
  color: var(--accent-color-primary);
  font-variation-settings: "FILL" 1;
}

.post .btn-wrapper {
  display: flex;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s;
}

.share-btn {
  position: relative;
}
