.bookmarks-page {
  padding-bottom: 50%;
  display: grid;
  gap: 1rem;
}

.bookmarks-top {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  border-radius: 0.5rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.bookmarks-posts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}