.user {
  background-color: var(--background-color-primary);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  transition: 0.1s;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .user img:hover {
    filter: brightness(90%);
  }
}

.user .user-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.user-info .fullname {
  color: var(--text-color-primary);
  cursor: pointer;
}

.user-info .fullname:hover {
  text-decoration: underline;
  text-decoration-color: var(--text-color-primary);
}

.user-info .username {
  color: var(--text-color-secondary);
}

.follow-user-btn {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  padding: 1rem;
}

.unfollow-user-btn {
  background-color: var(--btn-background-color-secondary);
  color: var(--text-color-primary);
  font-weight: bold;
  width: 6rem;
}

@media (hover: hover) and (pointer: fine) {
  .unfollow-user-btn:hover {
    color: var(--text-color-warning);
    background-color: var(--background-color-warning);
    border: 1px solid var(--border-color-warning);
  }
}
