.new-post-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  margin: 25px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

#post-body-input {
  height: 50px;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  resize: none;
  overflow: hidden;
  border: 1px solid #B9B9B9;
  border-radius: 5px;
}

#post-btn:disabled {
  background-color: #E4E6EB;
  color: #B9B9B9;
  cursor: not-allowed;
}