.new-post-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--background-color-primary);
}

.new-post-form #file {
  display: none;
}

.new-post-form label {
  background-color: var(--background-color-secondary);
  padding: 0.5rem;
  width: fit-content;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.new-post-form label svg {
  color: #45BD62;
}

.input-area {
  display: flex;
  gap: 0.5rem;
}

.input-area img {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  vertical-align: middle;
  transition: 0.1s;
}

@media (hover: hover) and (pointer: fine) {
  .input-area img:hover {
    filter: brightness(90%);
  }
}

.post-body-input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  resize: none;
  overflow: hidden;
  border: none;
  background-color: var(--background-color-secondary);
  border-radius: 0.5rem;
}

.post-body-input::placeholder {
  white-space: nowrap;
  overflow: hidden;
}

.post-body-input:focus {
  outline: 1px solid var(--text-color-secondary);
}

.input-pfp {
  border-radius: 50%;
}
