.new-post-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  margin: 25px;
  border-radius: 6px;
  background-color: var(--background-color-primary);
}

.input-area {
  display: flex;
  gap: 10px;
}

.input-area img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
  transition: 0.1s;
}

.input-area img:hover {
  filter: brightness(90%);
}

.post-body-input {
  height: 50px;
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  resize: none;
  overflow: hidden;
  border: none;
  background-color: var(--background-color-secondary);
  border-radius: 5px;
}

.post-body-input::placeholder {
  white-space: nowrap;
  overflow: hidden;
}

.post-body-input:focus {
  outline: 1px solid var(--text-color-secondary);
}

.input-pfp {
  border-radius: 50%;
}