.profile-main {
  flex-basis: 600px;
  background-color: #F0F2F5;
  border-radius: 8px;
}

.profile-container {
  max-width: 1000px;
  margin-inline: auto;
}

.profile-card {
  display: grid;
  gap: 15px;
  background-color: white;
  margin: 25px;
  padding: 15px;
  border-radius: 8px;
}

.profile-card .top {
  display: flex;
  justify-content: space-between;
}

.profile-picture-wrapper {
  width: fit-content;
  position: relative;
  user-select: none;
}

.change-profile-picture-btn {
  user-select: none;
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  right: 5%;
  background-color: #e4e6eb;
  border-radius: 50%;
  padding: 5px;
  transition: 0.1s;
}

.change-profile-picture-btn:hover {
  filter: brightness(90%);
}

.change-profile-picture-btn .material-symbols-rounded {
  vertical-align: middle;
}

.profile-picture {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  vertical-align: middle;
}

.profile-img-username {
  width: 50%;
  display: grid;
  gap: 15px;
}

.profile-name-username {
  display: grid;
  justify-items: baseline;
}

.username {
  font-size: 1rem;
  color: #757575;
  font-weight: normal;
}

.edit-profile-btn {
  align-self: flex-end;
  background-color: #e4e6eb;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
}

.follow-profile-btn {
  align-self: flex-end;
  background-color: #1877f2;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
}

.unfollow-profile-btn {
  align-self: flex-end;
  background-color: #e4e6eb;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  width: 95px;
}

.unfollow-profile-btn:hover {
  color: red;
  background-color: rgba(244, 33, 46, 0.1);
  border: 1px solid rgb(253, 201, 206);
}

.profile-card .bottom {
  display: flex;
  gap: 25px;
}

.following, .followers {
  color: #757575;
}

.count {
  color: black;
  font-weight: bold;
}