.profile {
  display: grid;
  gap: 1rem;
}

.profile-top {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  border-radius: 0.5rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.posts-heading {
  padding-bottom: 1rem;
  text-align: center;
  color: var(--text-color-primary);
}

.profile-card {
  display: grid;
  gap: 1rem;
  background-color: var(--background-color-primary);
  padding: 1rem;
  border-radius: 0.5rem;
}

.profile-card .top {
  display: flex;
  justify-content: space-between;
}

.profile-picture-wrapper {
  width: fit-content;
  position: relative;
  user-select: none;
}

@media (hover: hover) and (pointer: fine) {
  .change-profile-picture-btn:hover {
    filter: brightness(90%);
  }
}

.profile-picture {
  object-fit: cover;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  vertical-align: middle;
}

.profile-img-username {
  width: 50%;
  display: grid;
  gap: 1rem;
}

.profile-name-username {
  display: grid;
  justify-items: baseline;
}

.profile-name-username .name {
  color: var(--text-color-primary);
}

.profile-name-username .username {
  font-size: 1rem;
  color: var(--text-color-secondary);
}

.middle .bio {
  font-size: 1rem;
  color: var(--text-color-primary);
}

.edit-profile-btn {
  display: flex;
  align-items: center;
  align-self: flex-end;
  background-color: var(--btn-background-color-secondary);
  color: var(--text-color-primary);
  font-weight: bold;
  padding: 1rem;
}

.follow-profile-btn {
  display: flex;
  align-items: center;
  align-self: flex-end;
  color: white;
  font-weight: bold;
  padding: 1rem;
}

.unfollow-profile-btn {
  align-self: flex-end;
  background-color: var(--btn-background-color-secondary);
  color: var(--text-color-primary);
  font-weight: bold;
  width: 6rem;
}

@media (hover: hover) and (pointer: fine) {
  .unfollow-profile-btn:hover {
    color: var(--text-color-warning);
    background-color: var(--background-color-warning);
    border: 1px solid var(--border-color-warning);
  }
}

.profile-card .bottom {
  display: flex;
  gap: 1rem;
}

.following,
.followers {
  color: var(--text-color-secondary);
  cursor: pointer;
}

.count {
  color: var(--text-color-primary);
  font-weight: bold;
}

.following:hover,
.followers:hover {
  text-decoration: underline;
  text-decoration-color: var(--text-color-primary);
}

.posts {
  display: flex;
  padding-bottom: 50%;
  flex-direction: column;
  gap: 0.5rem;
}

.load-more-posts {
  padding: 0.5rem 1rem;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  background-color: var(--background-color-primary);
  color: var(--text-color-secondary);
  border-radius: 2rem;
}
