.profile-container {
  margin-top: 85px;
  max-width: 650px;
  margin-inline: auto;
}

.profile-card {
  background-color: white;
  border-radius: 8px;
  margin: 25px;
  padding: 15px;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.profile-picture {
  width: 140px;
  border-radius: 50%;
  vertical-align: middle;
}

.profile-img-username {
  /* outline: 1px solid red; */
  width: 50%;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.profile-name-username {
  display: grid;
  justify-items: baseline;
}

.username {
  font-size: 1rem;
  font-weight: 100;
}