.post-page {
  display: grid;
  gap: 25px;
}
.post-top {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  border-radius: 8px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.post-top p {
  font-weight: bold;
  font-size: 1.25rem;
}

.meatball-btn {
  padding: 8px;
  border-radius: 50%;
  color: var(--text-color-secondary);
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}

.meatball-btn:hover {
  color: #1d9bf0;
  background-color: rgba(29,155,240,0.1);
}

.post-main {
  background-color: var(--background-color-primary);
  border-radius: 8px;
  padding: 15px 15px 0 15px;
  display: grid;
  gap: 10px;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-header-right {
  align-self: flex-start;
  position: relative;
}

.post-body {
  word-break: break-all;
}

.post-pfp-btn {
  border-radius: 50%;
  transition: 0.1s;
  cursor: pointer;
}

.post-pfp-btn:hover {
  filter: brightness(90%);
}

.post-pfp-btn img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.post-fullname {
  cursor: pointer;
}

.post-fullname:hover {
  text-decoration: underline;
}

.post-username {
  color: var(--text-color-secondary);
}

.post-body {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.post-date {
  color: var(--text-color-secondary);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 5px;
}

.post-dot {
  color: var(--text-color-secondary);
  font-size: .5rem;
}

.post-main hr {
  border-left: 0;
  border-right: 0;
  border-top: 1px solid var(--hr-color);
  border-bottom: none;
}

.post-bottom .like-comment-share-btns {
  margin-top: 3px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-around;
  color: var(--text-color-secondary)
}

.like-comment-share-btns .material-symbols-rounded {
  user-select: none;
  font-size: 20px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: 0.1s;
}

.like-comment-share-btns .material-symbols-rounded:hover {
  color: #1d9bf0;
  background-color: rgba(29,155,240,0.1);
}

.like-btn, .comment-btn, .share-btn {
  border-radius: 50%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-page .selected .material-symbols-rounded {
  color: #1d9bf0;
  font-variation-settings:
  'FILL' 1
}

.comment-section h2 {
  color: var(--text-color-primary);
  text-align: center;
  margin-bottom: 5px;
}

.comments {
  display: grid;
}