.post-page {
  padding-bottom: 50%;
  display: grid;
  gap: 1rem;
}
.post-top {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  border-radius: 0.5rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-top p {
  font-weight: bold;
  font-size: 1.25rem;
}

.meatball-btn {
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--text-color-secondary);
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}

@media (hover: hover) and (pointer: fine) {
  .meatball-btn:hover {
    color: #1d9bf0;
    background-color: rgba(29, 155, 240, 0.1);
  }
}

.post-main {
  background-color: var(--background-color-primary);
  border-radius: 0.5rem;
  padding: 1rem 1rem 0 1rem;
  display: grid;
  gap: 0.5rem;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-header-right {
  align-self: flex-start;
  position: relative;
}

.post-body {
  word-break: break-all;
}

.post-pfp-btn {
  border-radius: 50%;
  transition: 0.1s;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .post-pfp-btn:hover {
    filter: brightness(90%);
  }
}

.post-pfp-btn img {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  vertical-align: middle;
}

.post-fullname {
  cursor: pointer;
}

.post-fullname:hover {
  text-decoration: underline;
}

.post-username {
  color: var(--text-color-secondary);
}

.post-body {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.post-date {
  color: var(--text-color-secondary);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 0.25rem;
}

.post-dot {
  color: var(--text-color-secondary);
  font-size: 0.5rem;
}

.post-main hr {
  border-left: 0;
  border-right: 0;
  border-top: 1px solid var(--hr-color);
  border-bottom: none;
}

.post-bottom .like-comment-share-btns {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: space-around;
  color: var(--text-color-secondary);
}

@media (hover: hover) and (pointer: fine) {
  .post-page .btn-wrapper:hover {
    color: #1d9bf0;
    background-color: rgba(29, 155, 240, 0.1);
  }
}

.post-page .like-btn,
.comment-btn,
.share-btn {
  border-radius: 50%;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.post-page .selected {
  color: #1d9bf0;
  font-variation-settings: "FILL" 1;
}

.comment-section h2 {
  color: var(--text-color-primary);
  text-align: center;
  margin-bottom: 0.25rem;
}

.comments {
  display: grid;
}

.post-page .btn-wrapper {
  display: flex;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s;
}