.post-top {
  background-color: white;
  margin: 25px;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.post-top p {
  font-weight: bold;
  font-size: 1.25rem;
}

.post-main {
  background-color: white;
  margin: 25px;
  border-radius: 8px;
  padding: 15px 15px 0 15px;
  display: grid;
  gap: 10px;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-header-right {
  align-self: flex-start;
  position: relative;
}

.post-body {
  word-break: break-all;
}

.post-pfp-btn {
  border-radius: 50%;
  transition: 0.1s;
  cursor: pointer;
}

.post-pfp-btn:hover {
  filter: brightness(90%);
}

.post-pfp-btn img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.post-fullname {
  cursor: pointer;
}

.post-fullname:hover {
  text-decoration: underline;
}

.post-date {
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-main hr {
  border-top: 1px solid #D8DADF;
  border-bottom: none;
}

.post-bottom .like-comment-share-btns {
  margin-top: 3px;
  margin-bottom: 3px;
}

.comment-section h2 {
  text-align: center;
  margin-bottom: 5px;
}

.comments {
  padding-inline: 25px;
  display: grid;
}