.dropdown-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
}

.dropdown {
  position: absolute;
  right: calc(50% - 20px);
  z-index: 102;
}

.dropdown:has(> .account-dropdown) {
  left: 0;
}

.dropdown ul {
  width: max-content;
  overflow: hidden;
  list-style: none;
  background-color: var(--background-color-primary);
  border-radius: 8px;
  box-shadow: var(--box-shadow-color-1) 0px 0px 15px,
    var(--box-shadow-color-2) 0px 0px 3px 1px;
}

.post-dropdown li {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 1.25rem;
  padding: 10px 15px;
  cursor: pointer;
  color: var(--text-color-primary);
}

.dropdown a {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 1.25rem;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
}

.dropdown li {
  transition: 0.1s;
}

@media (hover: hover) and (pointer: fine) {
  .dropdown li:hover {
    background-color: var(--hover-color);
  }
}
