.dropdown-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
}

.dropdown {
  position: absolute;
  right: calc(50% - 20px);
  z-index: 102;
}

.dropdown ul {
  width: max-content;
  overflow: hidden;
  list-style: none;
  background-color: var(--background-color-primary);
  border-radius: 8px;
  box-shadow: var(--box-shadow-color-1) 0px 0px 15px, var(--box-shadow-color-2) 0px 0px 3px 1px;
}

.post-dropdown li {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 1.25rem;
  padding: 10px 15px;
  cursor: pointer;
  color: var(--text-color-primary);
}

.dropdown a {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 1.25rem;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
}

.dropdown .material-symbols-rounded {
  font-size: 25px;
}

.dropdown li {
  transition: 0.1s;
}

.dropdown li:hover {
  background-color: var(--hover-color);
}

/* .dropdown::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--background-color-primary);
  position: absolute;
  top: -5px;
  bottom: -5px;
  transform: rotateX(180deg);
  right: 15px;
} */