header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding-inline: 15px;
}

.curr-user-wrapper {
  position: relative;
}

.curr-user {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-radius: 60px;
  transition: 0.1s;
}

.curr-user:hover {
  background-color: #F0F2F5;
  /* border-radius: ; */
}

.curr-user-info {
  text-align: right;
}

.curr-user .fullname {
  font-weight: bold;
  color: #757575;
  font-size: .9rem;
}

.curr-user .username {
  color: #757575;
  font-size: .9rem;
}

.curr-user li {
  list-style: none;
}

.nav-logo a {
  text-decoration: none;
  font-weight: bold;
  color: #1877F2;
}

.curr-user img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50%;
  transition: 0.1s;
}