header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  max-width: 1300px;
  margin: 0 auto;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding-inline: 15px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-links .fullname {
  font-weight: bold;
  color: #757575;
}

.nav-links li {
  list-style: none;
}

.nav-logo a {
  text-decoration: none;
  font-weight: bold;
  color: #1877F2;
}

.nav-links img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50%;
  transition: 0.1s;
}

.nav-links img:hover {
  filter: brightness(90%);
}

.account-dropdown-btn {
  border-radius: 50%;
  cursor: pointer;
}

.account-dropdown-li {
  position: relative;
}