.header {
  padding: 15px 25px;
  background-color: white;
  margin: 25px;
  border-radius: 8px;
}

.header .top {
  display: flex;
  align-items: center;
  gap: 25px;
}

.profile-main .user-info {
  display: grid;
  gap: 0;
}

.profile-main .back-btn {
  cursor: pointer;
  border-radius: 50%;
  padding: 8px;
  transition: .1s;
}

.profile-main .back-btn:hover {
  color: #1d9bf0;
  background-color: #e1eef6;
}

.header h3 {
  text-align: center;
  padding-top: 25px;
}